.App{
  width: 60%;
  margin: 10px auto;
  display: flex;
  gap: 15px;
}

.posts{
  flex: 2 1 0%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.create{
  box-sizing: border-box;
  width: 750px;
  height: 75px;
  margin: 10px 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #Fefefe;
  border-radius: 5px;
  border: 1px solid grey;
}

.create button{
  background-color: #2b898b;
  border: none;
  padding: 7px 25px;
  font-weight: 600;
  border-radius: 25px;
  color: white;
}

.create button:hover{
  cursor: pointer;
  background-color: #3b9b9c;
}

.info-card{
  flex: 1 1 0%;
  width: 375px;
  height: 500px;
  background-color: #Fefefe;
  border: 1px solid gray;
  border-radius: 5px;
}